@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar utility used in your file */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}